html
    -webkit-tap-highlight-color: rgba(0,0,0,0)

#controls
    button
        height: 25px
        width: 65px
    div
        height: 35px
        label 
            display: inline-block
            min-width: 90px

        input[type='range']
            margin: 0


#grid
    margin-top: 10px
    display: flex
    flex-direction: row
    &:last-child
        border-bottom: 1px solid #444

    .column
        display: flex
        flex-direction: column
        flex-wrap: nowrap
        background-color: #efefef
        &:last-child
            border-right: 1px solid #444

        &.active
            background-color: yellow
            // visibility: hidden
            // opacity: 0
            // transition: visibility 0s 2s, opacity 2s linear
        
        .cell 
            text-align: center
            border-top: 1px solid #444
            border-left: 1px solid #444
            display: flex
            justify-content: center  
            align-items: center
            font-family: monospace
            color: #dddddd
            font-size: 25px
            background-color: none
            user-select: none
            cursor: pointer
            // margin: 3px
            &.active 
                background-color: yellow
                color: #00ff00
            &.selected
                background-color: lightblue
                color: #0000ff
            &.drag
                background-color: lightgreen
                color: #0000ff
