@import "reset.css"
    
html
    -webkit-tap-highlight-color: rgba(0,0,0,0)
    font-family: monospace

body
    overflow: hidden
    touch-action: none
    width: 100%
    height: 100%

#controls
    box-sizing: border-box
    padding: 5px
    background-color: pink
    height: 50px
    overflow: auto
    display: flex
    flex-direction: row    
    flex-wrap: row nowrap
    
    button
        font-family: monospace
        height: 25px
        width: auto
        text-align: center
        margin-right: 4px
        white-space: nowrap

    div
        input[type='range']
            margin: 0
        
        &.position
            margin-left: 3px
            margin-top: 5px
            font-size: 16px
            font-family: monospace
        
    select
        margin-right: 4px
        height: 25px
        font-family: monospace

    .react-slider
        white-space: nowrap
        height: 25px
        margin-top: 4px
        margin-right: 4px
        display: block
        input[type='range']
            vertical-align: middle
        label 
            display: inline-block
            min-width: 78px

#pads-container
    display: flex
    flex-direction: row

    #samples
        display: flex
        flex-direction: column
        width: 140px
        border-right: 1px dotted #000fff
        .cell 
            box-sizing: border-box
            height: 100% 
            text-align: center
            &:not(:first-child)
                border-top: 1px dotted #000fff
            display: flex
            justify-content: center  
            align-items: center
            font-family: monospace
            color: #dddddd
            font-size: 15px

            select, option 
                width: 60px
                font-size: 15px
                font-family: monospace

    #pads
        width: calc(100vw - 140px)
        height: calc(100vh - 50px)
        box-sizing: border-box
        display: flex
        flex-direction: row
        justify-content: space-around
        &:last-child
            border-bottom: 1px solid #444

        .column
            width: 100%
            align-content: space-around
            display: flex
            flex-direction: column
            flex-wrap: nowrap
            background-color: #efefef
            &:not(:last-child)
                border-right: 1px dotted #00ff00

            &.active
                background-color: rgba(255, 255, 0, 0.4)
                // visibility: hidden
                // opacity: 0
                // transition: visibility 0s 2s, opacity 2s linear
            
            .cell
                box-sizing: border-box
                height: 100% 
                text-align: center
                &:not(:first-child)
                    border-top: 1px dotted #00ff00
                display: flex
                justify-content: center  
                align-items: center
                font-family: monospace
                color: #dddddd
                font-size: 25px
                background-color: none
                user-select: none
                cursor: pointer
                // margin: 3px
                &.active 
                    background-color: yellow
                    color: #00ff00
                &.selected
                    background-color: lightblue
                    color: #0000ff
                &.drag
                    background-color: lightgreen
                    color: #0000ff
                &.highlight
                    background-color: rgba(255, 9, 9, 0.4)